@model ServiceLayer.SearchService.ParagraphDto
@{
}

<audio controls>
    <source src="@Model.AudioUri" />
</audio>
@Html.Raw(Model.Content)
<div class="card" style="position:fixed;bottom:0; right:0;height:30%;width:18rem;>
    <div class="card-body">
        <p id="wordId" hidden></p>
        <h5 id="word" class="card-title"></h5>
        <button type="button" class="btn-primary" onclick="Save()">儲存</button>
        <p>解釋</p>
        <textarea id="define"></textarea>
    </div>
</div>

@section Scripts{

    <script type='text/javascript'>

        function Save() {
            var save_url = '@Url.Action("SimpleSave","Vocabulary")';
            var word = $('#word').text();
            var id = $('#wordId').text();
            var data = {
                wordId: id,
                word: word,
            };
            $.ajax({
                url: save_url,
                data: data,
            }).done(function (res) {
                    $('#wordId').text(res.wordId);
                });
        };
        function getSelectionText() {
            var text = "";
            var activeEl = document.activeElement;
            var activeElTagName = activeEl ? activeEl.tagName.toLowerCase() : null;
            if (window.getSelection && (activeElTagName != "input") && (activeElTagName != "textarea")) {
                text = window.getSelection().toString();
            }
            return text;
        }

        document.onmouseup = document.onkeyup = function () {
            var text = getSelectionText();
            var searchUrl = '@Url.Action("Search","Vocabulary")';
            
            if (!!text) {
                var data = {
                    keywords: text,
                }
                $.ajax({
                    url: searchUrl,
                    data: data,
                }).done(function (res) {
                    var define = res.meanings.find(m=>true).definitions.find(d=>true).definition;
                    $('#word').text(text);
                    $('#wordId').text(res.wordId);
                    $('#define').val(define);
                }).fail(function(jqXHR, textStatus, ErrorThrow) {
                    $('#word').text(text);
                    $('#wordId').text("");
                    $('#define').val("Not Found");

                })
            }


        };
    </script>
}