@model ServiceLayer.SearchService.ParagraphDto
@{
}


<h1>@Html.Raw(Model.Content)</h1>
<div class="card" style="position:fixed;bottom:0; right:0;height:30%;width:18rem;background-color:burlywood">
    <div class="card-body">
    <h5 id ="word" class="card-title">123</h5>
    </div>
    @*<textarea id="sel"></textarea>*@
    </div>

@section Scripts{

    <script type='text/javascript'>
        function getSelectionText() {
            var text = "";
            var activeEl = document.activeElement;
            var activeElTagName = activeEl ? activeEl.tagName.toLowerCase() : null;
            if (window.getSelection && (activeElTagName != "input") && (activeElTagName != "textarea")) {
                text = window.getSelection().toString();
            }
            return text;
        }

        document.onmouseup = document.onkeyup = function () {
            var text = getSelectionText();
            var searchUrl = '@Url.Action("Search","Vocabulary")';

            if (!!text) {
                var data = {
                    keywords: text,
                }
                $.ajax({
                    url: searchUrl,
                    data: data,
                }).done(function (res) {
                    //var $word = $('#word');
                    console.log(res.word);
                    $('#word').text(res.word);
                    //word.text=(res.word);
                    //document.getElementById("sel").value = JSON.stringify(res);
                })
            }


        };
    </script>
}