@model List< ServiceLayer.SearchService.ArticleDto>
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">

    @foreach (var article in Model)
    {

        <div class="thumb thumb16_9">
            <img src="@article.ImageUri.AbsoluteUri">
            <span>@article.PublishDate</span>
        </div>

        <div>
            <a asp-area="" asp-controller="Article" asp-action="Read" asp-route-articleUri="@article.Uri.AbsoluteUri"><h4>@article.Title</h4></a>
        </div>
    }

</div>
